.search-wrap {
  margin: 0 auto;
  padding-top: 30px;
  &__form {
    display: flex;
    margin: 0 auto;
    width: 280px;
    border-radius: 36px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    opacity: 1;

    &-input {
      margin: 0 auto;
      padding-left: 8px;
      width: 200px;
      border: none;
      opacity: 1;
      outline: none;
      color: #000000;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.42px;
    }
  }
  &__star-img {
    cursor: pointer;
    padding-right: 12px;

    & svg {
      margin: 13px 12px 12px;
      opacity: 0.5;
    }
  }
  &__geo-img {
    margin: 13px 12px 12px 24px;
    opacity: 0.54;
    cursor: pointer;
  }
}
.link-wrap {
  position: relative;
  width: 280px;
  padding: 0 39px;
  min-height: 40px;
  margin: 0 auto;
  display: flex;
  &__text {
    outline: none;
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    height: 27px;
    border-radius: 22px;
    margin: 13px 10px 0;
    background-color: rgba($color: #102136, $alpha: 0.47);

    & p {
      margin: 7px 0px 7px 12px;
      color: #ffffff;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      letter-spacing: 0.42px;
      line-height: 13px;

      &:hover {
        text-decoration: underline;
      }
    }

    &-btn-clear {
      margin: 1px 3px;
      cursor: pointer;
      padding: 4px;
      opacity: 0.54;
    }
  }
  &__button {
    margin-top: 13px;
    width: 26px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #f1f1f1;
    & img {
      margin-top: 4px;
      color: black;
    }
  }
}

@media screen and (min-width: 769px) {
  .search-wrap__form {
    width: 506px;
    &-input {
      width: 400px;
      font-size: 18px;
    }
  }
  .link-wrap {
    width: 502px;

    & p {
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 1096px) {
}

.change-color {
  fill: gold;
}
