.five-days-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 34px 0 22px 0;
}
.date {
  &-container {
    margin: 0 auto;
    padding-bottom: 18px;
  }
  &-time {
    &-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 0 auto;
      line-height: 0;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
    &-arrow {
      display: flex;
      justify-content: space-between;
      width: 46px;
      min-width: 65px;
      margin: 0 auto;
      &-left {
        display: block;
        transform: rotate(200grad);
      }
      &-right {
        display: block;
      }
    }
    &-wrap {
      &:hover {
        background-color: rgba(255, 255, 255, .3);
        transition: all 0.5s ease-out;
      }
      border-radius: 15px;
      margin-top: 12px;
      padding-top: 8px;
      padding-bottom: 16px;
      width: 140px;
      text-align: center;
      min-width: 106px;
      &__title {
        margin: 0 auto;
        margin-bottom: 18px;
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.36px;
      }
      &__info-date {
        color: #ffffff;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.48px;
        margin: 0 auto;
        margin-bottom: 13px;
      }
      &__info-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
      }
      &__info-temperature {
        &:first-child {
          border: 1px;
          border-right-style: solid;
          padding-right: 8px;
        }
        &:last-child {
          padding-left: 4px;
        }
        color: #ffffff;
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.36px;
        margin: 0 auto;
      }
      &__info-temperature > span {
        display: block;
        color: #ff6b08;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.48px;
      }
    }
  }
}
.info-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 70px;
  margin: 0 auto;
}
.border {
  margin: 0 auto;
  border-right: 1px solid #ffffff;
}
@media screen and (min-width: 769px) {
  .five-days-title {
    display: none;
  }
  .info-container {
    max-width: 70px;
  }

  .border {
    margin: 0 8px;
  }
  .date {
    &-container {
      width: 90%;
    }
    &-time {
      &-container {
        overflow-x: inherit;
      }
      &-wrap {
        &:hover {
          border-radius: 15px;
          background-color: rgba(255, 255, 255, .3);
          transition: all 0.5s ease-out;
        }
        &__title {
          font-size: 14px;
          letter-spacing: 0.42px;
        }
        &__info-date {
          font-size: 18px;
          letter-spacing: 0.54px;
        }
        &__info-temperature {
          font-size: 14px;
          letter-spacing: 0.42px;
        }
      }
      &-arrow {
        display: none;
      }
    }
  }
  .date-time-wrap__info-temperature  {
    &:first-child {
      padding-right: 5px;
      border: 1px;
      border-right-style: solid;
    }
    &:last-child {
      padding-left: 5px;
    }
    padding-right: 10px;
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}
@media screen and (min-width: 1096px) {
  .info-container {
    justify-content: space-between;
    // margin: 0 auto;
    max-width: 100px;
  }
  .border {
    margin: 0 12px;
  }
  .date {
    &-container {
      width: 80%;
    }
    &-time {
      &-wrap {
        width: 140px;
        &__title {
          font-size: 18px;
          letter-spacing: 0.54px;
        }
        &__info-date {
          font-size: 25px;
          letter-spacing: 0.75px;
        }
        &__info-temperature {
          width: 50%;
          margin: 0;
          font-size: 18px;
          letter-spacing: 0.54px;
        }
      }
    }
  }
  .date-time-wrap__info-temperature > span {
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
